.sn-component
  .sk-panel.static.full-height
    .sk-panel-content#panel-content.full-height{"ng-if" => "!formData.loading"}
      .sk-panel-section.no-bottom-pad.full-height
        .sk-panel-row.full-height.justify-left

          .sk-panel-column
            #title-container
              #title GitHub Push

          .vertical-rule

          .sk-panel-column
            .token-form{"ng-if" => "!token"}
              %input.sk-input.contrast{"ng-model" => "formData.token", "placeholder" => "Enter GitHub token", "ng-keyup" => "$event.keyCode == 13 && submitToken();"}

          .sk-panel-column#generate-token-column{"ng-if" => "!token"}
            %a.sk-a.sk-button.no-border.info{"href" => "https://github.com/settings/tokens/new", "target" => "_blank"}
              .sk-label Generate Token

          .sk-panel-column{"ng-if" => "token"}
            .title {{formData.loadingRepos ? 'Loading Repositories' : 'Repository'}}
            %select.sk-input{"ng-if" => "!formData.loadingRepos", "ng-model" => "formData.selectedRepo", "ng-change" => "didSelectRepo()"}
              %option{"ng-repeat" => "repo in repos", "ng-selected" => "repo == formData.selectedRepo", "ng-value" => "repo"}
                {{repo.name}}

          .vertical-rule

          #commit-info{"ng-if" => "formData.selectedRepo"}
            %input.sk-input.contrast.file-path{"placeholder" => "Dir", "ng-model" => "formData.fileDirectory"}
            %input.sk-input.contrast.file-ext{"placeholder" => "Ext", "ng-model" => "formData.fileExtension"}
            %input.sk-input.contrast.commit-message{"placeholder" => "Msg", "ng-model" => "formData.commitMessage", "ng-keyup" => "$event.keyCode == 13 && pushChanges($event);"}
            .sk-button.info.no-border{"ng-click" => "pushChanges($event)", "style" => "margin-left: 15px;"}
              .sk-label {{formData.pushStatus}}

          .vertical-rule{"ng-if" => "formData.selectedRepo"}

          .sk-panel-column{"ng-if" => "token"}
            .sk-button.danger.no-border{"ng-click" => "logout()"}
              .sk-label Logout
