:root {
  --primary-bg-color: rgb(25, 24, 26);
  --secondary-bg-color: rgb(34, 31, 34);
  --editor-bg-color: rgb(45, 42, 46);
  --border-color: #13131a;
  --ui-text-color: #939293;

  --sn-stylekit-info-color: #039be5;
  --sn-stylekit-info-contrast-color: white;

  --sn-stylekit-neutral-color: #727072;
  --sn-stylekit-neutral-contrast-color: white;

  --sn-stylekit-success-color: #64dd17;
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: #ffa000;
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: #d32f2f;
  --sn-stylekit-danger-contrast-color: white;

  --sn-desktop-titlebar-bg-color: var(--primary-bg-color);
  --sn-desktop-titlebar-border-color: var(--border-color);
  --sn-desktop-titlebar-ui-color: var(--ui-text-color);
  --sn-desktop-titlebar-ui-hover-color: var(--sn-stylekit-info-color);

  // StyleKit Vars
  --sn-stylekit-shadow-color: var(--editor-bg-color);

  --sn-stylekit-background-color: var(--editor-bg-color);
  --sn-stylekit-border-color: var(--border-color);
  --sn-stylekit-foreground-color: var(--ui-text-color);

  --sn-stylekit-contrast-background-color: var(--secondary-bg-color);
  --sn-stylekit-contrast-foreground-color: var(--ui-text-color);
  --sn-stylekit-contrast-border-color: var(--border-color);

  --sn-stylekit-secondary-background-color: var(--secondary-bg-color);
  --sn-stylekit-secondary-foreground-color: var(--ui-text-color);
  --sn-stylekit-secondary-border-color: var(--border-color);

  --sn-stylekit-secondary-contrast-background-color: #403e41;
  --sn-stylekit-secondary-contrast-foreground-color: var(--ui-text-color);
  --sn-stylekit-secondary-contrast-border-color: var(--border-color);

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: var(--ui-text-color);

  --sn-stylekit-scrollbar-track-border-color: var(--border-color);
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);
}

#select {
  margin: 5px;
  color: var(--sn-stylekit-foreground-color);
  background-color: rgb(34, 31, 34);
  line-height: 1.3;
  border: 1px solid #13131a;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

pre {
  overflow: auto;
}
